@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: 'PerfectlyVintages';
    src: url('/fonts/PerfectlyVintages.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}